footer{
    background: black;
}
footer .img-footer{
    width: 80%;
}
footer .content-foot .row:last-child p {
/* margin-left: 250px; */
margin-left: 25%;
    margin-bottom: auto;
    /* margin-top: 100px; */
}

.col-lg-3 {
height: 140px;
}
.input1{
    height: 40px;
    width: 200px;
}
.p-t-18 .trans-04{
 
    border: 0;
    padding: 5px 25px;
    margin-bottom: 0;
    background-color: #f15f2f;
    color: #fefefe;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin-top: 200px;
 
}
footer .content-foot .row:first-child .menu-bot .head {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
    width: 155px;
}