header .container-fluid  {
    position: fixed !important;
    width: 100% !important;
    z-index: 1100;
   
}
header .container-fluid #sidebar {
  
    background: white!important;
}


header .container-fluid #sidebar ul.menu li.menu-item {
    padding:    0px 70px 0px 0px !important;

  
}
.logo{
width: 60%;
}

.menu-sub--product .container--w {
    width: 10px;
}
header .container-fluid #top-head {

    height: 50px;
   
}
header .container{
   
        margin-left: 8%;
    
}

header .container-fluid #sidebar ul.menu {
margin-left: 10%;
}
header .container-fluid #sidebar ul.menu li.menu-item .menu-sub {
    position: fixed;
    top: 100%;
    left: 0%;
    z-index: 2;
    min-width: 12vw;
    height: 350px;
    background-color: #4c4c4c;
    display: none;
   font-size: 20px;
}



