header .container-fluid  {
    position: fixed !important;
    width: 100% !important;
    z-index: 1100;
   
}
header .container-fluid #sidebar {
  
    background: white!important;
}


header .container-fluid #sidebar ul.menu li.menu-item {
    padding: 0px 15px 0px 0px !important;
    /* padding: 0 35px !important; */
  
}
.logo{
width: 60%;
}

.menu-sub--product .container--w {
    width: 10px;
}



